@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&family=Sura:wght@700&display=swap');
:root {
  --marrom-escuro: #b09158;
  --marrom-claro: #b0915870;
  --preto: #00000069;

  --fonte-titulo:'Sura', serif;
  --fonte-subtitulo: "SoDo Sans";
  --fonte-texto:"Inter", sans-serif;
}

header {
  width: 100%;
  color: var(--marrom-escuro);
}
.content{
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  /* margin-top: 50px; */
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}
.bar{
  width: 70px;
  height: 17px;
  margin: 6px;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: .4s;
}
.bar:hover{
  background-color: #fff;
}
input[name="slide"]{
  display: none;
}
.slides{
  display: flex;
  width: 200%;
  height: 100%;
}
.slide{
  height: 100%;
  width: 100vw;
  transition: .6s;
}
#slide1:checked ~ .slide1{
  margin-left: 0%;
}
#slide2:checked ~ .slide1{
  margin-left: -100vw;
}
 header .image1{
  background-image: url(../IMG/coffe.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: inherit;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: darken;
  background-attachment: fixed;
} 
 header .image2{
  background-image: url(../IMG/shawnanggg-nmpW_WwwVSc-unsplash.jpg);
  background-color: rgba(0, 0, 0, 0.452);
  background-blend-mode: darken;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: inherit;
  
  width: 100%;
} 
header .image .texto{
  color: aliceblue;
  margin: auto;
  padding-top: 100px;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 250px;
}
header .image .texto-titulo{
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--fonte-titulo);
}
header .image .texto-subtitulo{
  font-family: var(--fonte-subtitulo);
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: auto;
  /* position: fixed;
  top: 50;
  left: 0;
  width: 100%;*/
  padding: 20px 0;
  
}
.menu ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  color: var(--marrom-escuro);
  
}
.menu ul a{
  font-family: var(--fonte-texto);
  font-style: medium;
  font-size: 18px;
  color: var(--marrom-escuro);
  padding: 15px 10px;
  border-radius: 10px;
}
.menu ul a:hover{
  color:white;
  transition: .4s;
  background-color: var(--marrom-escuro);
}
.logo{
  font-size: 1.5rem;
  font-family: var(--fonte-titulo);
  cursor: pointer;
}
.logo:hover{
  color: var(--preto);
}
