@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&family=Sura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

:root {
    --marrom-escuro: #b09158;
    --marrom-claro: #b0915870;
    --preto: #00000069;
    --confirmar: #0B7428;
  
    --fonte-destacado:'Readex Pro', sans-serif;
    --fonte-titulo:'Sura', serif;
    --fonte-subtitulo: "SoDo Sans";
    --fonte-texto:"Inter", sans-serif;
    --fonte-apresentacao: 'Recursive', sans-serif;
  }

  /* Seção Sobre */
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.container .image{
    width: 350px;
    height: 300px;
    position: relative;
    margin: auto auto;

}
.container .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

/*  Sobre Lado esquerdo e direito */
.lado-esquerdo,
.lado-direito{
    width: 400px;
    margin: 50px auto;
}
.lado-esquerdo div,
.lado-direito div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.lado-esquerdo div img,
.lado-direito div img{
    object-fit: contain;
    margin: auto 20px;
}
.lado-direito {
    text-align: end;
}
.lado-direito .sobre,
.lado-esquerdo .sobre {
    display: flex;
    flex-direction: row;
}

.lado-esquerdo div p,
.lado-direito div p{
    font-family: var(--fonte-destacado);
    color: var(--marrom-escuro);
    font-size: 24px;
    margin: auto auto;
}
    
.bem-vindo{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 50px;
    position: absolute;
}
.bem-vindo1{
    font-family: var(--fonte-apresentacao);
    font-size: 2rem;
    color: var(--marrom-escuro);
}
.bem-vindo2{
    font-size: 1.4rem;
    
}

/* Seção Categorias */
section.color-categorias{
    background-color: var(--marrom-escuro);
    width: 100%;
    padding: 20px;
}
section.color-categorias .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: var(--fonte-destacado);
    font-size: 36px;
    flex-grow: 1;
    margin: auto;
}
.opcoes-categorias{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.fa-bars{
    display: flex;
    margin-right: auto;
    font-size: 40px;
    position: absolute;
    margin-left: auto;
    text-align: end;
    left: auto;
}
div.categorias{
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    font-size: 24px;
}
.color-categorias button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 300px;
    cursor: pointer;
    background-color: var(--confirmar);
    height: 50px;
    color: whitesmoke;
    font-family: var(--fonte-destacado);
    font-size: 24px;
}
.categorias div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 1300px;
}

section.produtos{
    max-width: 1300px;
    margin: auto;
}

.card-container{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 300px;
    padding: 8px;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px #000000;
    transition: box-shadow 1s;
}
.card-image-container{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card-image{
    max-width: 100%;
    max-height: 100%;
}
.card-produto{
    font-family: var(--fonte-destacado);
    font-size: 1rem;
    font-weight: 500;
    margin: auto;
    text-align: center;
}
.card-preco{
    font-family: var(--fonte-apresentacao);
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
}
.card-pagar{
    background-color: var(--confirmar);
    padding: 5px;
    margin: auto;
    color: aliceblue;
    width: 75%;
    font-family: var(--fonte-texto);
    font-size: 1.6rem;
}

.color-destaque{
    background-color: var(--marrom-escuro);
    width: 100%;
    padding: 20px;
}
div.destaque{
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 500px;
}
.destaque-imagem{
    display: flex;
    align-items: center;
}
.destaque-imagem img{
    max-height: 450px;
    object-fit: contain;
}
.destaque div.texto{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.destaque-titulo{
    margin-bottom: 20px;
    line-height: 50px;
    font-family: var(--fonte-titulo);
    font-size: 46px;
    font-weight: bold;
}
.destaque-texto{
    font-family: var(--fonte-texto);
    font-size: 24px;
    font-weight: medium;
}
button.info{
    display: flex;
    margin-left: auto;
    margin-top: 25px;
    background-color: var(--confirmar);
    padding: 20px 40px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}
button.info:hover{
    box-shadow: 0px 0px 5px 5px #000;
}

/* Seção Promoção */
section.promocao{
    max-width: 1300px;
    margin: auto;
    margin-bottom: 100px;
}
section.promocao-total{
    width: 100%;
}
div.promocao-cards{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}
.promocao-texto{
    width: 400px;
    height: 150px;
    margin: 20px auto ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px ;
    gap: 10px;
}
section.promocao div.promocoes{
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--preto);
}
.promocao .info-img{
    height: 250px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--marrom-claro);
}
.promocao div img{
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promocao .promocoes .info{
    width: inherit;
    height: 150px;
    padding: 20px;
}
.riscar{
    text-decoration: line-through;
    float: left;
    font-size: 24px;
    margin-right: 100px;
}
div.precos{
    display: flex;
}
.preco-atual{
    font-style: italic;
    font-size: 24px;
    float: right;
    margin-right: 150px;
}
.combo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 10px auto;
    font-size: 24px;
}
.promocao-titulo{
    font-family: var(--fonte-destacado);
    font-size: 36px;
}
.promocao-descricao{
    font-family: var(--fonte-destacado);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: auto;
}
.card-pagar-promocao{
    background-color: var(--confirmar);
    color: white;
    font-size: 24px;
    padding: 5px;
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}
.card-pagar-promocao:hover{
    box-shadow: 0px 0 5px 5px #000;
}

/* Seção Contatos */
footer{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 500px;
}
div.contato{
    flex-grow: 3;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}
div.contato p{
    font-size: 48px;
    font-family: var(--fonte-apresentacao);
}
div.contato .caixas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
}
div.contato .caixas input{
    height: 40px;
    width: 400px;
    align-items: center;
    text-align: center;
    border: 0;
    color: var(--marrom-escuro);
    border-bottom: 5px solid grey;
    outline: 0;
}
textarea{
    height: 100px;
    width: 400px;
    align-items: center;
    text-align: start;
    border: 0;
    color: var(--marrom-escuro);
    border-bottom: 5px solid grey;
    outline: 0;
}
div.contato .caixas input:focus, textarea:focus{
    border-bottom: 5px solid var(--marrom-escuro);
}
div.info-contato{
    flex-grow: 1;
    background-color: grey;
    color: white;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
div button.enviar{
    height: 40px;
    width: 400px;
    background-color: grey;
    color: white;
    cursor: pointer;
    transition: .5s;
}
div button.enviar:hover{
    background-color: var(--marrom-claro);
}
div.horario,.endereco,.suporte{
    height: 105px;
    width: 350px;
}
div.info-contato .titulo{
    font-size: 24px;
    color: black;
}
div .icones i{
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}