@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Sura&display=swap');
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
header{
    background-color: #B09158;
    height: 200px;
}
header .container-inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    max-width: 1300px;
    padding: 50px;
}
.container-texto {
    font-family: 'Roboto Slab', serif;
    color: aliceblue;
}
.container-texto h1{
    float: left;
    font-size: 36px;
    margin: auto auto;
}
.nomeProjeto{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    font-size: 24px;
}
.gerenciamento{
    float: right;
    font-family: 'Sura', serif;
    margin-top: 20px;
    font-size: 20px;
}

/* Main */
section.menu-color{
    background-color: rgba(0, 0, 0, 0.26);
    height: 150px;
}
section .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    max-width: 1300px;
}
section .administradores{
    display: flex;
    padding: 25px;
    align-items: center;
    gap: 50px;
    text-align: center;
}
section .administradores img{
    padding-bottom: 20px;
}
section .logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
section .logout .bem-vindo{
    margin-bottom: 20px;
}
/* Principal */
main{
    flex-grow: 1;
    height: auto;
    background-color: white;
}

table{
    height: 500px;
    background-color: aquamarine;
}

/* Footer */

footer {
    background-color: #B09158;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    font-family: 'Open sans', sans-serif;
}

footer .copyright{
   margin-left: 29%;
   color: #ffffff;
   font-size: 1rem;
   font-weight: 400;
   font-style: italic;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

footer .desenvolvido{
   color: #ffffff;
   font-size: 0.9rem;
   font-weight: 400;
   font-style: italic;
   display: flex;
   flex-direction: column;
   align-items: center;
}